@media(max-width:767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        position: relative;
        overflow: hidden;

        &-main {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 649px;
            padding-left: 0px;
            padding-right: 0px;



            &__title {
                font-size: 40px;
                line-height: 49px;
                text-align: center;
                padding-top: 147px;

            }

            &__subtitle {
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                margin-top: 24px;
                width: 296px;

            }

            &__btn {
                width: 285px;
                height: 55px;
                margin-top: 36px;
                font-size: 16px;
            }

            &__img-big {
                overflow: hidden;
                right: -105px;
                top: -85px;
            }

            &__img-1 {
                position: absolute;
                height: 35px;
                width: 35px;
                left: 37px;
                top: 97px;
            }

            &__img-2 {
                position: absolute;
                height: 21px;
                width: 21px;
                left: 91px;
                top: 64px;
            }

            &__img-3 {
                position: absolute;
                height: 18px;
                width: 18px;
                bottom: 74px;
                left: 272px;
            }

            &__img-4 {
                position: absolute;
                height: 41px;
                width: 39px;
                left: 303px;
                bottom: 28px;
            }

        }
    }

    .wrapper {
        height: 51px;
        padding-top: 16px;
        padding-bottom: 16px;
    

        &__line {

            gap: 27px;


            &-text {
                height: 18px;
                font-size: 16px;

                &_1 {
                    width: 116px;
                }

                &_2 {
                    width: 146px;
                }

                &_3 {
                    width: 174px;
                }

                &_4 {
                    width: 225px;
                }

                &_5 {
                    width: 277px;
                }

                &_6 {
                    width: 314px;
                }
            }

            &-img {
                width: 19px;
                height: 19px;
            }
        }
    }

    .game {
        display: none;
    }

    .main {

        padding-bottom: 49px;
        display: flex;
        justify-content: center;

        &-game {
            padding-left: 0px;
            padding-right: 0px;


            &__title {
                font-size: 40px;
                line-height: 49px;
                margin-bottom: 48px;
                width: 250px;
            }

            &__img-1 {
                display: none;

            }

            &__img-2 {
                display: none;
            }

            &__img-3 {
                display: none;
            }


            &__img-4 {
                display: none;
            }

        }
    }


    .game-box {

        margin-bottom: 24px;
        flex-wrap: wrap;
        max-width: 343px;
        height: auto;

        &__img {
            height: 285px;
            width: 343px;
        }

        &__desc {
            padding-top: 29px;
            padding-right: 29px;
            padding-left: 29px;
            padding-bottom: 33px;

            &-text {
                font-size: 32px;
                line-height: 39px;
                margin-bottom: 16px;

                &-1 {
                    font-size: 16px;
                    line-height: 20px;
                    width: 285px;

                    &_1 {
                        width: 249px;
                    }

                    &_2 {
                        width: 233px;
                    }

                    &_3 {
                        width: 275px;
                    }

                    &_4 {
                        width: 245px;
                    }
                }
            }

            &-btn {
                width: 285px;
                height: 55px;
                margin-top: 32px;
                font-size: 16px;

            }

        }
    }

    .footer {

        height: 100px;

        &__info {
            font-size: 16px;
            line-height: 20px;
            height: 20px;
            padding-top: 40px;
        }
    }

}

@media (min-width:320px) and (max-width:374px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .game {
        display: none;
    }

    .game-box {
        width: 285px;

        &__img {
            height: 285px;
            width: 285px;
        }

        &__desc {

            padding-top: 20px;
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 25px;

            &-text-1 {
                max-width: 245px;
            }

            &-btn {
                width: 250px;
                height: 50px;


            }

        }

    }
}